---
layout: default
about: 'about'
title: Brian Storti
---

<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

<header class="site-header">
  <a href="/about"><img class="profile" src="/assets/images/profile-small.png" alt="Author's profile picture"></a><br />
  Hi, there! My name is <strong><a href="{{ page.about }}">Brian Storti</a></strong> and this is my blog.

  <section class="social-section">
    <a href="{{site.social.github}}"><i class="icon-github-circled"></i></a>
    <a href="{{site.social.twitter}}"><i class=" icon-twitter"></i></a>
    <a href="{{site.social.email}}"><i class=" icon-email"></i></a>
    <a href="{{site.social.linkedin}}"><i class=" icon-linkedin"></i></a>
    <a href="{{site.social.rss}}"><i class=" icon-rss"></i></a>
  </section>
</header>

<div class="book-top-banner">
  <a href="https://kubernetesinpractice.com" target="_blank" style="text-decoration: none; color: #57A3E8">Check out my Kubernetes book!</a>
</div>

<main class="content" role="main">
    {% for post in site.posts %}
      {% unless post.draft %}
        <article class="post">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </header>

            <section class="post-excerpt">
                {% if post.intro %}
                  <p> {{ post.intro }} </p>
                {% else %}
                  {{ post.excerpt }}
                {%endif%}

                <p> <a href="{{ post.url }}">Read more</a> </p>
            </section>
        </article>
      {% endunless %}
    {% endfor %}
</main>
