---
layout: default
about: 'about.html'
title: Brian Storti
---


<header class="site-header">
  <img class="profile" src="/assets/images/profile-small.png" alt="Author's profile picture"> <br />
  Hi, there! My name is <strong><a href="{{ page.about }}">Brian Storti</a></strong> and this is my blog.
</header>

<main class="content" role="main">
    {% for post in site.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>

        </header>
        <section class="post-excerpt">
            {% if post.intro %}
              {{ post.intro }}
            {% else %}
              {{ post.excerpt }}
            {%endif%}

            <p> <a href="{{ post.url }}">Read more</a> </p>
        </section>
    </article>

    {% endfor %}
</main>
