---
layout: default
about: 'about.html'
title: Brian Storti
---


<header class="site-header">
  <img class="profile" src="/assets/images/profile-small.png" alt="Author's profile picture"> <br />
  Hi, there! My name is <strong><a href="{{ page.about }}">Brian Storti</a></strong> and this is my blog.

  <section class="social-section">
    <a href="{{site.social.github}}"><i class="icon-github-circled"></i></a>
    <a href="{{site.social.twitter}}"><i class=" icon-twitter"></i></a>
    <a href="{{site.social.email}}"><i class=" icon-email"></i></a>
    <a href="{{site.social.linkedin}}"><i class=" icon-linkedin"></i></a>
    <a href="{{site.social.rss}}"><i class=" icon-rss"></i></a>
  </section>
</header>

<main class="content" role="main">
    {% for post in site.posts %}
      {% unless post.draft %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
                <a style="font-size: 1.5rem"href="{{post.url}}#disqus_thread"></a>
            </header>

            <section class="post-excerpt">
                {% if post.intro %}
                  {{ post.intro }}
                {% else %}
                  {{ post.excerpt }}
                {%endif%}

                <p> <a href="{{ post.url }}">Read more</a> </p>
            </section>
        </article>
      {% endunless %}
    {% endfor %}
</main>

<script type="text/javascript">
/* * * Just replace ExampleShortname with your shortname  * * */
var disqus_shortname = 'brianstorti'; // required: replace example with your forum shortname
/* * * Don't make any change for bellow lines * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
