
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-facebook-rect:before { content: '\e805'; } /* '' */
.icon-googleplus-rect:before { content: '\e806'; } /* '' */