<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{page.title}}</title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/css/master.min.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="/assets/fontello/css/fontello.css">
</head>

<body class="home-template">
    {{ content }}

    <footer class="site-footer">
        <a href="http://github.com/brianstorti"><i class="social-icon icon-github-circled"></i></a>
        <a href="http://twitter.com/brianstorti"><i class="social-icon icon-twitter"></i></a>
        <a href="mailto:brian@brianstorti.com"><i class="social-icon icon-email"></i></a>
        <a href="/feed/atom.xml"><i class="social-icon icon-rss"></i></a>
    </footer>

    <!-- Send to kindle -->
    <script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
    <script type="text/javascript">(function k(){window.$SendToKindle&&window.$SendToKindle.Widget?$SendToKindle.Widget.init({"content":".post-content","title":".post-title","author":".author-name"}):setTimeout(k,500);})();</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55015531-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
