---
layout: default
disqus: true
archive: false
about: '/about.html'
---

<header class="site-header">
  <a href="/">See all posts</a>
</header>

<main class="content" role="main">
    <article class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        <span class="post-meta">
          <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
        </span>

        <br />
        <div class="kindleWidget" style="display:inline-block;padding:3px;cursor:pointer;font-size:11px;font-family:Arial;white-space:nowrap;line-height:1;border-radius:3px;border:#ccc thin solid;color:black;background:transparent url('https://d1xnn692s7u6t6.cloudfront.net/button-gradient.png') repeat-x;background-size:contain;"><img style="vertical-align:middle;margin:0;padding:0;border:none;" src="https://d1xnn692s7u6t6.cloudfront.net/white-15.png" /><span style="vertical-align:middle;margin-left:3px;">Send to Kindle</span></div>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
          <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <section class="author">
                  <header> <a href="{{ page.about }}"> <img class="profile" src="/assets/images/profile.png" alt="Author's profile picture"></a></header>
                  <article>
                    <!-- Author Name -->
                    Written by <h4 class="author-name"><a href="{{page.about}}">Brian Thomas Storti</a></h4>
                    </article>
                </section>
            {% endif %}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{page.title}}: {{post.url}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook-rect" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-googleplus-rect" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            {% if page.disqus %}
            <section class="disqus">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_shortname = 'brianstorti';
                var disqus_developer = 0; // developer mode is on
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
            {% endif %}

        </footer>

    </article>

</main>
